<?xml version="1.0" encoding="utf-8"?>
<Media Key="afc49951-eff3-4bc9-900b-fe3af596daec" Alias="aaron-lambert.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aaronLambertsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T00:59:36</CreateDate>
    <NodeName Default="aaron-lambert.svg" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/umsgmtpi/aaron-lambert.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>