<?xml version="1.0" encoding="utf-8"?>
<Media Key="9994c918-21de-4c19-96ba-a43eee96d1bf" Alias="afro-girl.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/afroGirlsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T19:00:43</CreateDate>
    <NodeName Default="afro-girl.svg" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3j0dm44f/afro-girl.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>