<?xml version="1.0" encoding="utf-8"?>
<Media Key="545bddb3-35d8-4742-aad1-707254f3292d" Alias="afro-girl.svg" Level="2">
  <Info>
    <Parent Key="e9da2d10-5b95-4b72-a3d9-83435af62545">projects</Parent>
    <Path>/projects/afroGirlsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T22:37:08</CreateDate>
    <NodeName Default="afro-girl.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ifqptnwd/afro-girl.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>