<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ae115bf-a30e-486c-bc76-347cd3cf7d36" Alias="aj-carter.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ajCartersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T00:59:36</CreateDate>
    <NodeName Default="aj-carter.svg" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jwuehkav/aj-carter.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>