<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc5f983f-b304-465a-b5ed-1209e5020812" Alias="assurance-audits.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/assuranceAuditssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T02:05:17</CreateDate>
    <NodeName Default="assurance-audits.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zusp0xq5/assurance-audits.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>