<?xml version="1.0" encoding="utf-8"?>
<Media Key="c66bd2c0-7a08-4b6c-941b-9b98d70ac3b5" Alias="banner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bannersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-26T13:36:05</CreateDate>
    <NodeName Default="banner.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gjxnsjat/banner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>