<?xml version="1.0" encoding="utf-8"?>
<Media Key="e03bc215-87b2-4f87-a5f8-94cd18eefa69" Alias="bonds-commodities.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bondsCommoditiessvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T02:05:08</CreateDate>
    <NodeName Default="bonds-commodities.svg" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/235jsavj/bonds-commodities.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>