<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d5ebe9c-78b1-4815-abc1-1799f6cbc62e" Alias="brandon-kerr.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brandonKerrsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T00:59:36</CreateDate>
    <NodeName Default="brandon-kerr.svg" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nybpzh3k/brandon-kerr.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>