<?xml version="1.0" encoding="utf-8"?>
<Media Key="68180326-3fbf-46fb-9d60-ae92c745fe2e" Alias="brandon-newton.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/brandonNewtonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T00:59:37</CreateDate>
    <NodeName Default="brandon-newton.svg" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0s5lvcve/brandon-newton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>