<?xml version="1.0" encoding="utf-8"?>
<Media Key="747aa161-be70-4b73-b15f-2a22b171f84b" Alias="Dot.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Dotsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T02:54:04</CreateDate>
    <NodeName Default="Dot.svg" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/smonrftl/dot.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>