<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa51fa95-d193-4ee1-85bf-1a250018f9d8" Alias="dotmap.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/dotmapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:37:26</CreateDate>
    <NodeName Default="dotmap.svg" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m3dpggei/dotmap.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>