<?xml version="1.0" encoding="utf-8"?>
<Media Key="d77b8111-79ef-4dfe-b9f6-17d3ab07f1e9" Alias="financial-advisors.svg" Level="2">
  <Info>
    <Parent Key="e9da2d10-5b95-4b72-a3d9-83435af62545">projects</Parent>
    <Path>/projects/financialAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T22:39:47</CreateDate>
    <NodeName Default="financial-advisors.svg" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2m4nsnpu/financial-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>