<?xml version="1.0" encoding="utf-8"?>
<Media Key="1164cdf6-17af-43ce-b877-dbf5041145a2" Alias="financial-advisor.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/financialAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T02:06:04</CreateDate>
    <NodeName Default="financial-advisor.svg" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/arymn23u/financial-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>