<?xml version="1.0" encoding="utf-8"?>
<Media Key="2fc31354-b31e-4901-8e47-793779b4d419" Alias="five-people-table.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/fivePeopleTablesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-07T01:41:34</CreateDate>
    <NodeName Default="five-people-table.svg" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u0xgdtif/five-people-table.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>