<?xml version="1.0" encoding="utf-8"?>
<Media Key="58168dda-16e6-4b1b-bdda-f20eea8e30b9" Alias="fossilgroup.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/fossilgroupsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-28T02:42:12</CreateDate>
    <NodeName Default="fossilgroup.svg" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fayljox3/fossilgroup.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>