<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0b5cf40-7a3f-4629-8da6-f59a1567b179" Alias="freedombird.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/freedombirdsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-28T02:42:12</CreateDate>
    <NodeName Default="freedombird.svg" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wjzbomre/freedombird.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>