<?xml version="1.0" encoding="utf-8"?>
<Media Key="702f95e8-ffc6-4eef-8372-01782248c86a" Alias="geometry.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/geometrysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T02:53:36</CreateDate>
    <NodeName Default="geometry.svg" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/diui1ew3/geometry.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>