<?xml version="1.0" encoding="utf-8"?>
<Media Key="3cfe0470-d409-457d-b1e1-160345fa0b03" Alias="globe.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/globesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-28T02:42:12</CreateDate>
    <NodeName Default="globe.svg" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qk2fzxqs/globe.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>