<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2ba30d4-3a1b-47f8-8fc6-234881b3f1b7" Alias="globe-one.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/globeOnesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T03:25:46</CreateDate>
    <NodeName Default="globe-one.svg" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/e0gbqiaa/globe-one.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>