<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d335336-86d3-4890-8cdd-89299742544c" Alias="globe-two.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/globeTwosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T03:25:46</CreateDate>
    <NodeName Default="globe-two.svg" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ytxjc14i/globe-two.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>