<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7de7b18-f210-4180-9219-f149cf4dd9dd" Alias="identity.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/identitysvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-28T02:42:12</CreateDate>
    <NodeName Default="identity.svg" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3ldhyfil/identity.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>