<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc7ea439-a774-4610-926c-eec890dc945d" Alias="kevin-gardner-banner.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnerBannersvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-28T23:04:55</CreateDate>
    <NodeName Default="kevin-gardner-banner.svg" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zmmnyptp/kevin-gardner-banner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>