<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4a5d04a-2d88-4dee-8870-8edccd6ece86" Alias="kevin-gardner-banner.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kevinGardnerBannersvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T00:59:37</CreateDate>
    <NodeName Default="kevin-gardner-banner.svg (1)" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xbwbobut/kevin-gardner-banner.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>