<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c4d105d-d3f3-452d-9ecf-fc381095c4e4" Alias="logo.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logosvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-26T19:57:53</CreateDate>
    <NodeName Default="logo.svg" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v4wp5xxi/logo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>