<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5b4e5c6-7f6c-4604-9232-bf8e8188c547" Alias="man-women.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/manWomensvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T19:02:45</CreateDate>
    <NodeName Default="man-women.svg" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/grmbmr1x/man-women.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>