<?xml version="1.0" encoding="utf-8"?>
<Media Key="d05f2d10-cd57-4e3d-9e33-94b2a065b59f" Alias="man-women.svg" Level="2">
  <Info>
    <Parent Key="e9da2d10-5b95-4b72-a3d9-83435af62545">projects</Parent>
    <Path>/projects/manWomensvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-09T22:37:09</CreateDate>
    <NodeName Default="man-women.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2kip0msm/man-women.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>