<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfe94b9f-6d31-4cfd-9c16-9a5d33cc69bd" Alias="map.svg" Level="2">
  <Info>
    <Parent Key="758fc717-b212-4365-b092-df2bbc7b31c0">ContactPage</Parent>
    <Path>/ContactPage/mapsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-11T02:44:45</CreateDate>
    <NodeName Default="map.svg" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nx1ewxjk/map.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>