<?xml version="1.0" encoding="utf-8"?>
<Media Key="c11b0ada-0346-4c33-bfba-91b8936a9b89" Alias="miranda-dayton.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/mirandaDaytonsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T00:59:37</CreateDate>
    <NodeName Default="miranda-dayton.svg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fc1lsi03/miranda-dayton.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>