<?xml version="1.0" encoding="utf-8"?>
<Media Key="289cdbe3-148b-42e3-a641-a68959749551" Alias="natural.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/naturalsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-28T02:42:12</CreateDate>
    <NodeName Default="natural.svg" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cftd3suq/natural.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>