<?xml version="1.0" encoding="utf-8"?>
<Media Key="a98c6631-fa83-48d0-b39f-2b5c19bacd4f" Alias="project-business-insights.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectBusinessInsightssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-28T01:43:47</CreateDate>
    <NodeName Default="project-business-insights.svg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ypnd2s2y/project-business-insights.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>