<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9da2d10-5b95-4b72-a3d9-83435af62545" Alias="projects" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projects</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-09T22:36:55</CreateDate>
    <NodeName Default="projects" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties />
</Media>