<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e1e39a8-28b8-49a8-b61d-d49c96dec551" Alias="projects-financial-advisors.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/projectsFinancialAdvisorssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-28T01:43:47</CreateDate>
    <NodeName Default="projects-financial-advisors.svg" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lkclzdfd/projects-financial-advisors.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>