<?xml version="1.0" encoding="utf-8"?>
<Media Key="25d7a3b6-42d0-4f37-8bf5-5740374b30ec" Alias="risk-management-big.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/riskManagementBigsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-07T01:39:51</CreateDate>
    <NodeName Default="risk-management-big.svg" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/iqphlr4l/risk-management-big.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>