<?xml version="1.0" encoding="utf-8"?>
<Media Key="850001f6-8cee-4b4d-834c-6253bdc2fcae" Alias="risk-management.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/riskManagementsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T01:33:46</CreateDate>
    <NodeName Default="risk-management.svg" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/as4kez5v/risk-management.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>