<?xml version="1.0" encoding="utf-8"?>
<Media Key="6db744bc-9a44-40bc-a554-c41f3541b4e2" Alias="simpleaf.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/simpleafsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-28T02:42:12</CreateDate>
    <NodeName Default="simpleaf.svg" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/j12bld05/simpleaf.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>