<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b9d84d9-ca44-4d7a-ab27-d1f3cd5fd856" Alias="smiling-man.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/smilingMansvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T00:59:37</CreateDate>
    <NodeName Default="smiling-man.svg" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fm2d5wk5/smiling-man.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>