<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ca060c6-c3a1-427b-bd84-ac7730549462" Alias="statistic-advisor.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/statisticAdvisorsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T02:06:13</CreateDate>
    <NodeName Default="statistic-advisor.svg" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gtobflv0/statistic-advisor.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>