<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbe54fb9-20aa-4899-864f-a1e250e07d07" Alias="tax-trusts.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/taxTrustssvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T02:05:55</CreateDate>
    <NodeName Default="tax-trusts.svg" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jpzeoknr/tax-trusts.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>