<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c0cc145-350c-4653-ac32-b9b0d11963ef" Alias="team4.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/team4svg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T15:37:55</CreateDate>
    <NodeName Default="team4.svg" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w34k21qx/team4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>