<?xml version="1.0" encoding="utf-8"?>
<Media Key="334c0443-b92f-4fa1-b526-b6d99106d50b" Alias="team.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/teamsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-27T16:25:53</CreateDate>
    <NodeName Default="team.svg" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wg2p3uju/team.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>