<?xml version="1.0" encoding="utf-8"?>
<Media Key="f70324e2-aaec-4453-b900-f34de7c5de6a" Alias="tinafox-signature.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tinafoxSignaturesvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-26T13:37:41</CreateDate>
    <NodeName Default="tinafox-signature.svg" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ccmlcfpx/tinafox-signature.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>