<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea4e52a0-dd72-42c7-89d2-5a63a10b220f" Alias="tina-fox.svg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tinaFoxsvg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-08-28T22:26:56</CreateDate>
    <NodeName Default="tina-fox.svg" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/klxpycdj/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>