<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2dfc0a7-c6ee-4347-8a9d-a3a7c2b7ca2a" Alias="tina-fox.svg (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/tinaFoxsvg1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2024-09-01T00:59:37</CreateDate>
    <NodeName Default="tina-fox.svg (1)" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kv4h0ahv/tina-fox.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>