<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="291c6926-59e0-44ae-a405-db689910af4f" Alias="projectListPage" Level="2">
  <Info>
    <Name>Project List Page</Name>
    <Icon>icon-thumbnail-list</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>projectListPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b76cf44d-0002-4be8-ae6d-b0958ade63a7">projectListPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="e51a1be8-6d62-44f1-8890-47c830bdaa0e" SortOrder="0">projectItemTemplate</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>b74f1b77-14cc-48be-be6f-24341dc3c4cf</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e998c63e-e24c-4be8-a409-fb47a2d9123e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>