<?xml version="1.0" encoding="utf-8"?>
<Content Key="bf8ebe32-3365-4899-9389-1fb308ace85c" Alias="About" Level="2">
  <Info>
    <Parent Key="6f46ef5b-bb34-4faf-90e1-d4ffe7b0cd5c">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/About</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutUsPage</ContentType>
    <CreateDate>2024-08-28T03:11:46</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="fe11f92c-23b2-44d8-8c46-ef33de5ec8d4">aboutUsPage</Template>
  </Info>
  <Properties>
    <aboutUsContentImage>
      <Value><![CDATA[[
  {
    "key": "5b92df8f-6ce8-49de-8db1-c0e3b41599e8",
    "mediaKey": "ea4e52a0-dd72-42c7-89d2-5a63a10b220f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsContentImage>
    <aboutUsContentQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutUsContentQuote>
    <aboutUsContentTextFour>
      <Value><![CDATA[Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum  i commodo, eros quis consequat consequat. Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra. Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </aboutUsContentTextFour>
    <aboutUsContentTextOne>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae metus a massa lobortis sollicitudin. Cras ut nulla quam. Maecenas tempus felis quis lorem malesuada vehicular.

Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum.

Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.
]]></Value>
    </aboutUsContentTextOne>
    <aboutUsContentTextThree>
      <Value><![CDATA[Phasellus laoreet, sapien id euismod hendrerit, nibh ligula hendrerit libero, sit amet hendrerit elit turpis nec velit. Praesent tincidunt nisi at vulputate ornare. Morbi commodo, eros quis consequat consequat, orci lacus auctor ligula, ut maximus arcu sapien nec elit. Suspendisse rutrum elit at urna dapibus viverra. Etiam lectus libero, condimentum eget justo ac, accumsan suscipit libero.]]></Value>
    </aboutUsContentTextThree>
    <aboutUsContentTextTwo>
      <Value><![CDATA[Cras auctor, dui eu eleifend malesuada, nunc dui pretium urna, id euismod orci urna non est. Pellentesque imperdiet tortor ut elementum viverra.]]></Value>
    </aboutUsContentTextTwo>
    <aboutUsImageInfo>
      <Value><![CDATA[Tina Fox - CEO & Founder at Onatrix]]></Value>
    </aboutUsImageInfo>
    <aboutUsNextProjectHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </aboutUsNextProjectHeadline>
    <aboutUsNextProjectImageOne>
      <Value><![CDATA[[
  {
    "key": "d122bed0-4fa8-4c85-83f5-19f25e8dbc93",
    "mediaKey": "3b9d84d9-ca44-4d7a-ab27-d1f3cd5fd856",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsNextProjectImageOne>
    <aboutUsNextProjectImageThree>
      <Value><![CDATA[[
  {
    "key": "d3df28ef-e9e6-4fb4-82cc-59b2f801216d",
    "mediaKey": "747aa161-be70-4b73-b15f-2a22b171f84b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsNextProjectImageThree>
    <aboutUsNextProjectImageTwo>
      <Value><![CDATA[[
  {
    "key": "a77c96ab-eec8-45a7-806f-af2f957f705b",
    "mediaKey": "702f95e8-ffc6-4eef-8372-01782248c86a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsNextProjectImageTwo>
    <aboutUsNextProjectInfoTextOne>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </aboutUsNextProjectInfoTextOne>
    <aboutUsNextProjectInfoTextThree>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </aboutUsNextProjectInfoTextThree>
    <aboutUsNextProjectInfoTextTwo>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </aboutUsNextProjectInfoTextTwo>
    <aboutUsNextProjectInfoTitleOne>
      <Value><![CDATA[Office location]]></Value>
    </aboutUsNextProjectInfoTitleOne>
    <aboutUsNextProjectInfoTitleThree>
      <Value><![CDATA[E-mail address]]></Value>
    </aboutUsNextProjectInfoTitleThree>
    <aboutUsNextProjectInfoTitleTwo>
      <Value><![CDATA[Phone number]]></Value>
    </aboutUsNextProjectInfoTitleTwo>
    <aboutUsTeamHeadline>
      <Value><![CDATA[A team of professionals with years of experience]]></Value>
    </aboutUsTeamHeadline>
    <aboutUsTeamImageFive>
      <Value><![CDATA[[
  {
    "key": "cac45431-c6b4-4702-a578-85305eecf2b9",
    "mediaKey": "7d5ebe9c-78b1-4815-abc1-1799f6cbc62e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsTeamImageFive>
    <aboutUsTeamImageFour>
      <Value><![CDATA[[
  {
    "key": "ff10aeb1-e4e9-402d-9ab3-871cef2b3672",
    "mediaKey": "5aad10c2-604d-4d90-8ecf-7af649f973c7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsTeamImageFour>
    <aboutUsTeamImageOne>
      <Value><![CDATA[[
  {
    "key": "4e97fcba-94e7-45ab-a1f0-9c254828dfdd",
    "mediaKey": "68180326-3fbf-46fb-9d60-ae92c745fe2e",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsTeamImageOne>
    <aboutUsTeamImageSeven>
      <Value><![CDATA[[
  {
    "key": "b0d0a177-b9f1-4ee7-8250-32d399a1833e",
    "mediaKey": "5ce78e75-24ed-475c-9694-4999dd73b9be",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsTeamImageSeven>
    <aboutUsTeamImageSix>
      <Value><![CDATA[[
  {
    "key": "72834365-f533-4ef4-9bf2-3bc94fe2c66b",
    "mediaKey": "c11b0ada-0346-4c33-bfba-91b8936a9b89",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsTeamImageSix>
    <aboutUsTeamImageThree>
      <Value><![CDATA[[
  {
    "key": "f1e4a24d-af13-4135-85f3-0074a7f9f5ad",
    "mediaKey": "afc49951-eff3-4bc9-900b-fe3af596daec",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsTeamImageThree>
    <aboutUsTeamImageTwo>
      <Value><![CDATA[[
  {
    "key": "5338dc69-6074-4464-b01e-1a426ac6267e",
    "mediaKey": "4ae115bf-a30e-486c-bc76-347cd3cf7d36",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsTeamImageTwo>
    <aboutUsTeamMemberFive>
      <Value><![CDATA[Brandon Kerr]]></Value>
    </aboutUsTeamMemberFive>
    <aboutUsTeamMemberFour>
      <Value><![CDATA[Tina Fox]]></Value>
    </aboutUsTeamMemberFour>
    <aboutUsTeamMemberOne>
      <Value><![CDATA[Brandon Newton]]></Value>
    </aboutUsTeamMemberOne>
    <aboutUsTeamMemberSeven>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </aboutUsTeamMemberSeven>
    <aboutUsTeamMemberSix>
      <Value><![CDATA[Miranda Dayton]]></Value>
    </aboutUsTeamMemberSix>
    <aboutUsTeamMemberThree>
      <Value><![CDATA[Aaron Lambert]]></Value>
    </aboutUsTeamMemberThree>
    <aboutUsTeamMemberTitleFive>
      <Value><![CDATA[ CFO & Co-Founderat Onatrix]]></Value>
    </aboutUsTeamMemberTitleFive>
    <aboutUsTeamMemberTitleFour>
      <Value><![CDATA[CEO & Founder at Onatrix]]></Value>
    </aboutUsTeamMemberTitleFour>
    <aboutUsTeamMemberTitleOne>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </aboutUsTeamMemberTitleOne>
    <aboutUsTeamMemberTitleSeven>
      <Value><![CDATA[Banking Advisor at Swedbank]]></Value>
    </aboutUsTeamMemberTitleSeven>
    <aboutUsTeamMemberTitleSix>
      <Value><![CDATA[Head of HR at Onatrix]]></Value>
    </aboutUsTeamMemberTitleSix>
    <aboutUsTeamMemberTitleThree>
      <Value><![CDATA[Business Specialist at Onatrix]]></Value>
    </aboutUsTeamMemberTitleThree>
    <aboutUsTeamMemberTitleTwo>
      <Value><![CDATA[Financial Advisor at Onatrix]]></Value>
    </aboutUsTeamMemberTitleTwo>
    <aboutUsTeamMemberTwo>
      <Value><![CDATA[AJ Carter]]></Value>
    </aboutUsTeamMemberTwo>
    <aboutUsTeamTitle>
      <Value><![CDATA[OUR EXPERT]]></Value>
    </aboutUsTeamTitle>
    <aboutUsTrustedAuthorText>
      <Value><![CDATA[Kevin Gardner]]></Value>
    </aboutUsTrustedAuthorText>
    <aboutUsTrustedCompanyText>
      <Value><![CDATA[Swedbank]]></Value>
    </aboutUsTrustedCompanyText>
    <aboutUsTrustedHeadline>
      <Value><![CDATA[Trusted by some Biggest Names]]></Value>
    </aboutUsTrustedHeadline>
    <aboutUsTrustedImage>
      <Value><![CDATA[[
  {
    "key": "2243a27c-f98c-4669-a880-b3141bbb4381",
    "mediaKey": "dc7ea439-a774-4610-926c-eec890dc945d",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsTrustedImage>
    <aboutUsTrustedText>
      <Value><![CDATA[Seamlessly visualize quality intellectual capital without superior collaboration and idea-sharing. Holistically pontificate installed base portals.]]></Value>
    </aboutUsTrustedText>
    <aboutUsTrustedTitle>
      <Value><![CDATA[GREAT REVIEWS FOR OUR SERVICES]]></Value>
    </aboutUsTrustedTitle>
    <nextProjectFontAwesomeIconClass1>
      <Value><![CDATA[fa-solid fa-location-dot]]></Value>
    </nextProjectFontAwesomeIconClass1>
    <nextProjectFontAwesomeIconClass2>
      <Value><![CDATA[fa-solid fa-phone-flip]]></Value>
    </nextProjectFontAwesomeIconClass2>
    <nextProjectFontAwesomeIconClass3>
      <Value><![CDATA[fa-solid fa-envelope]]></Value>
    </nextProjectFontAwesomeIconClass3>
    <pageTitle>
      <Value><![CDATA[About Us]]></Value>
    </pageTitle>
  </Properties>
</Content>