<?xml version="1.0" encoding="utf-8"?>
<Content Key="f97f83fc-8cc9-4205-8231-fe7f1a3d7304" Alias="Contact" Level="2">
  <Info>
    <Parent Key="6f46ef5b-bb34-4faf-90e1-d4ffe7b0cd5c">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contactPage</ContentType>
    <CreateDate>2024-09-07T03:23:22</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="89945eff-3973-4a6a-9213-ba1ff0fdff27">contactPage</Template>
  </Info>
  <Properties>
    <bannerImage>
      <Value><![CDATA[[
  {
    "key": "adfa49e9-db33-45b2-adac-5113cbd38f19",
    "mediaKey": "bfe94b9f-6d31-4cfd-9c16-9a5d33cc69bd",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </bannerImage>
    <mapHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </mapHeadline>
    <mapText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas consectetur, ligula semper sagittis lobortis, eros metus efficitur purus]]></Value>
    </mapText>
    <mapTitle>
      <Value><![CDATA[Request a call back]]></Value>
    </mapTitle>
    <pageTitle>
      <Value><![CDATA[Contact]]></Value>
    </pageTitle>
  </Properties>
</Content>