<?xml version="1.0" encoding="utf-8"?>
<Content Key="66bfb203-7857-46c0-8eb9-9e3ebf295614" Alias="Global Settings" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GlobalSettings</Path>
    <Trashed>false</Trashed>
    <ContentType>globalSettings</ContentType>
    <CreateDate>2024-08-28T03:38:07</CreateDate>
    <NodeName Default="Global Settings" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <aboutUsImage>
      <Value><![CDATA[[
  {
    "key": "44526ae1-daa5-4949-86e1-a48e10ae3254",
    "mediaKey": "4ca060c6-c3a1-427b-bd84-ac7730549462",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutUsImage>
    <asideText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non]]></Value>
    </asideText>
    <asideTitle>
      <Value><![CDATA[About Us]]></Value>
    </asideTitle>
    <companyImageFive>
      <Value><![CDATA[[
  {
    "key": "dcced817-b600-4715-a94b-df854ef050bc",
    "mediaKey": "3cfe0470-d409-457d-b1e1-160345fa0b03",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </companyImageFive>
    <companyImageFour>
      <Value><![CDATA[[
  {
    "key": "94e37d90-e192-4f95-a6c7-eb39325ee6d2",
    "mediaKey": "6db744bc-9a44-40bc-a554-c41f3541b4e2",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </companyImageFour>
    <companyImageOne>
      <Value><![CDATA[[
  {
    "key": "b03ed1e8-6f95-46c6-ae9a-7ef81648a8e5",
    "mediaKey": "d0b5cf40-7a3f-4629-8da6-f59a1567b179",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </companyImageOne>
    <companyImageSix>
      <Value><![CDATA[[
  {
    "key": "04980737-2942-427f-b43a-a45e3e1c7953",
    "mediaKey": "58168dda-16e6-4b1b-bdda-f20eea8e30b9",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </companyImageSix>
    <companyImageThree>
      <Value><![CDATA[[
  {
    "key": "547b29c8-916f-4800-bbbc-870fe1edf54d",
    "mediaKey": "289cdbe3-148b-42e3-a641-a68959749551",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </companyImageThree>
    <companyImageTwo>
      <Value><![CDATA[[
  {
    "key": "35dc945e-7d59-4d03-96ca-91ed85c30c03",
    "mediaKey": "f7de7b18-f210-4180-9219-f149cf4dd9dd",
    "mediaTypeAlias": "",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </companyImageTwo>
    <footerCopyright>
      <Value><![CDATA[© Onatrix. All Rights Reserved. Credits to ]]></Value>
    </footerCopyright>
    <footerCredits>
      <Value><![CDATA[Themesflat]]></Value>
    </footerCredits>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "8070b88f-abe3-433a-b363-87b517bf67b6",
    "mediaKey": "3c4d105d-d3f3-452d-9ecf-fc381095c4e4",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogo>
    <imageOne>
      <Value><![CDATA[[
  {
    "key": "91884c0c-b225-4a86-b406-613b53a6ca54",
    "mediaKey": "c2ba30d4-3a1b-47f8-8fc6-234881b3f1b7",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imageOne>
    <imageTwo>
      <Value><![CDATA[[
  {
    "key": "8b0e1a75-7432-4866-9659-006eb26865d6",
    "mediaKey": "8d335336-86d3-4890-8cdd-89299742544c",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </imageTwo>
    <nextProjectFontAwesomeIconClass1>
      <Value><![CDATA[fa-solid fa-location-dot]]></Value>
    </nextProjectFontAwesomeIconClass1>
    <nextProjectFontAwesomeIconClass2>
      <Value><![CDATA[fa-solid fa-phone-flip]]></Value>
    </nextProjectFontAwesomeIconClass2>
    <nextProjectFontAwesomeIconClass3>
      <Value><![CDATA[fa-solid fa-envelope]]></Value>
    </nextProjectFontAwesomeIconClass3>
    <nextProjectHeadline>
      <Value><![CDATA[Let us know about your next project]]></Value>
    </nextProjectHeadline>
    <nextProjectImageOne>
      <Value><![CDATA[[
  {
    "key": "8f7d7c62-f695-49e1-a4f9-1cff268d4079",
    "mediaKey": "3b9d84d9-ca44-4d7a-ab27-d1f3cd5fd856",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImageOne>
    <nextProjectImageThree>
      <Value><![CDATA[[
  {
    "key": "6c0b30c4-c839-42df-addb-dce0abb76160",
    "mediaKey": "747aa161-be70-4b73-b15f-2a22b171f84b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImageThree>
    <nextProjectImageTwo>
      <Value><![CDATA[[
  {
    "key": "813663b8-da5a-46ac-a5d6-9a39525acd98",
    "mediaKey": "702f95e8-ffc6-4eef-8372-01782248c86a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </nextProjectImageTwo>
    <nextProjectInfoTextOne>
      <Value><![CDATA[Klarabergsviadukten 90, 111 52 Stockholm]]></Value>
    </nextProjectInfoTextOne>
    <nextProjectInfoTextThree>
      <Value><![CDATA[sales@onatrix.com]]></Value>
    </nextProjectInfoTextThree>
    <nextProjectInfoTextTwo>
      <Value><![CDATA[+46 8 123 456 75]]></Value>
    </nextProjectInfoTextTwo>
    <nextProjectInfoTitleOne>
      <Value><![CDATA[Office location]]></Value>
    </nextProjectInfoTitleOne>
    <nextProjectInfoTitleThree>
      <Value><![CDATA[E-mail address]]></Value>
    </nextProjectInfoTitleThree>
    <nextProjectInfoTitleTwo>
      <Value><![CDATA[Phone number]]></Value>
    </nextProjectInfoTitleTwo>
    <topBarCompanyAddress>
      <Value><![CDATA[Klarabergsviadukten 90, 111 64 Stockholm]]></Value>
    </topBarCompanyAddress>
    <topBarFontAwesomeIconClass1>
      <Value><![CDATA[fa-brands fa-facebook-f]]></Value>
    </topBarFontAwesomeIconClass1>
    <topBarFontAwesomeIconClass1Url>
      <Value><![CDATA[/facebook]]></Value>
    </topBarFontAwesomeIconClass1Url>
    <topBarFontAwesomeIconClass2>
      <Value><![CDATA[fa-brands fa-twitter]]></Value>
    </topBarFontAwesomeIconClass2>
    <topBarFontAwesomeIconClass2Url>
      <Value><![CDATA[/twitter]]></Value>
    </topBarFontAwesomeIconClass2Url>
    <topBarFontAwesomeIconClass3>
      <Value><![CDATA[fa-brands fa-linkedin-in]]></Value>
    </topBarFontAwesomeIconClass3>
    <topBarFontAwesomeIconClass3Url>
      <Value><![CDATA[/linkedin]]></Value>
    </topBarFontAwesomeIconClass3Url>
  </Properties>
</Content>