<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f46ef5b-bb34-4faf-90e1-d4ffe7b0cd5c" Alias="Onatrix Official - Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/OnatrixOfficialHome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-08-26T13:37:54</CreateDate>
    <NodeName Default="Onatrix Official - Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="d15c0eb1-13a5-44b6-ad20-3003a0ffa3ae">homePage</Template>
  </Info>
  <Properties>
    <aboutHeadline>
      <Value><![CDATA[We have 40 years experience]]></Value>
    </aboutHeadline>
    <aboutQuote>
      <Value><![CDATA[“We have over 25 years of experience providing expert financial advice to both businesses and individuals.”]]></Value>
    </aboutQuote>
    <aboutSectionTitle>
      <Value><![CDATA[ABOUT US]]></Value>
    </aboutSectionTitle>
    <aboutSignature>
      <Value><![CDATA[Tina Fox - CEO & Founder]]></Value>
    </aboutSignature>
    <aboutSignatureImage>
      <Value><![CDATA[[
  {
    "key": "c440a3fc-9550-46eb-a2fd-ce400306a9d7",
    "mediaKey": "f70324e2-aaec-4453-b900-f34de7c5de6a",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </aboutSignatureImage>
    <aboutText>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.]]></Value>
    </aboutText>
    <heroBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "7a5eda4e-25a6-4c46-8fee-b75ee29f91f6",
    "mediaKey": "c66bd2c0-7a08-4b6c-941b-9b98d70ac3b5",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </heroBackgroundImage>
    <heroButtonText>
      <Value><![CDATA[Contact us]]></Value>
    </heroButtonText>
    <heroButtonUrl>
      <Value><![CDATA[/contact]]></Value>
    </heroButtonUrl>
    <heroHeadline>
      <Value><![CDATA[We bring success to you]]></Value>
    </heroHeadline>
    <heroText>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur. adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim]]></Value>
    </heroText>
    <ourServiceBoxImageFive>
      <Value><![CDATA[[
  {
    "key": "f2f28d48-ca5e-4964-bfbb-53be9cf96905",
    "mediaKey": "1164cdf6-17af-43ce-b877-dbf5041145a2",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServiceBoxImageFive>
    <ourServiceBoxImageFour>
      <Value><![CDATA[[
  {
    "key": "c2521283-32eb-41fb-b292-ad5120b5121b",
    "mediaKey": "cbe54fb9-20aa-4899-864f-a1e250e07d07",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServiceBoxImageFour>
    <ourServiceBoxImageOne>
      <Value><![CDATA[[
  {
    "key": "e539bc2b-4e7a-43bc-8f6c-6c51337ececa",
    "mediaKey": "850001f6-8cee-4b4d-834c-6253bdc2fcae",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServiceBoxImageOne>
    <ourServiceBoxImageSix>
      <Value><![CDATA[[
  {
    "key": "4758a8d6-9b4b-4999-942f-10f541c86e59",
    "mediaKey": "4ca060c6-c3a1-427b-bd84-ac7730549462",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServiceBoxImageSix>
    <ourServiceBoxImageThree>
      <Value><![CDATA[[
  {
    "key": "e2b35202-f5f2-45db-950e-6d1ba0b785f9",
    "mediaKey": "bc5f983f-b304-465a-b5ed-1209e5020812",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServiceBoxImageThree>
    <ourServiceBoxImageTwo>
      <Value><![CDATA[[
  {
    "key": "4f81d881-d81e-48cd-840c-a0c9c77f01d7",
    "mediaKey": "e03bc215-87b2-4f87-a5f8-94cd18eefa69",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </ourServiceBoxImageTwo>
    <ourServiceBoxTextFive>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </ourServiceBoxTextFive>
    <ourServiceBoxTextFour>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </ourServiceBoxTextFour>
    <ourServiceBoxTextOne>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </ourServiceBoxTextOne>
    <ourServiceBoxTextSix>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </ourServiceBoxTextSix>
    <ourServiceBoxTextThree>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </ourServiceBoxTextThree>
    <ourServiceBoxTextTwo>
      <Value><![CDATA[Dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non ]]></Value>
    </ourServiceBoxTextTwo>
    <ourServiceBoxTitleFive>
      <Value><![CDATA[Financial Advisor]]></Value>
    </ourServiceBoxTitleFive>
    <ourServiceBoxTitleFour>
      <Value><![CDATA[Tax and Trusts]]></Value>
    </ourServiceBoxTitleFour>
    <ourServiceBoxTitleOne>
      <Value><![CDATA[Risk Management]]></Value>
    </ourServiceBoxTitleOne>
    <ourServiceBoxTitleSix>
      <Value><![CDATA[Statistic Advisors]]></Value>
    </ourServiceBoxTitleSix>
    <ourServiceBoxTitleThree>
      <Value><![CDATA[Assurance & Audits]]></Value>
    </ourServiceBoxTitleThree>
    <ourServiceBoxTitleTwo>
      <Value><![CDATA[Bonds & Commodities]]></Value>
    </ourServiceBoxTitleTwo>
    <ourServiceHeadline>
      <Value><![CDATA[We Provide The Solutions  To Grow Your Business Faster]]></Value>
    </ourServiceHeadline>
    <ourServiceSectionTitle>
      <Value><![CDATA[OUR SERVICES]]></Value>
    </ourServiceSectionTitle>
    <pageTitle>
      <Value><![CDATA[Home]]></Value>
    </pageTitle>
    <recentProjectsHeadline>
      <Value><![CDATA[Recent projects]]></Value>
    </recentProjectsHeadline>
    <recentProjectsImageFour>
      <Value><![CDATA[[
  {
    "key": "c26ba586-816a-4077-9dc7-4f3245a3240e",
    "mediaKey": "35371a0f-2d5f-448d-bd77-9cb5a8a8ffe0",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectsImageFour>
    <recentProjectsImageOne>
      <Value><![CDATA[[
  {
    "key": "bac097de-c0b2-49d1-9543-0c88e9bb1511",
    "mediaKey": "3cc5dfc0-8e45-4461-8fc2-fa01802b63b3",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectsImageOne>
    <recentProjectsImageThree>
      <Value><![CDATA[[
  {
    "key": "0a9cc636-405d-4928-8baa-dfc768b153ab",
    "mediaKey": "6e1e39a8-28b8-49a8-b61d-d49c96dec551",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectsImageThree>
    <recentProjectsImageTwo>
      <Value><![CDATA[[
  {
    "key": "d3439980-9355-4c46-ad04-e9aab3e9ce54",
    "mediaKey": "a98c6631-fa83-48d0-b39f-2b5c19bacd4f",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </recentProjectsImageTwo>
    <recentProjectsProjectTitleFour>
      <Value><![CDATA[Budget Planning for Buccura Inc.]]></Value>
    </recentProjectsProjectTitleFour>
    <recentProjectsProjectTitleOne>
      <Value><![CDATA[Annual Report for Juva Inc.]]></Value>
    </recentProjectsProjectTitleOne>
    <recentProjectsProjectTitleThree>
      <Value><![CDATA[Financial Advisors to Irra Corp Inc.]]></Value>
    </recentProjectsProjectTitleThree>
    <recentProjectsProjectTitleTwo>
      <Value><![CDATA[Business Insights for SP Group Inc.]]></Value>
    </recentProjectsProjectTitleTwo>
    <recentProjectsSectionTitle>
      <Value><![CDATA[OUR PROJECTS]]></Value>
    </recentProjectsSectionTitle>
    <recentProjectsServiceTitleFour>
      <Value><![CDATA[Financial Services]]></Value>
    </recentProjectsServiceTitleFour>
    <recentProjectsServiceTitleOne>
      <Value><![CDATA[Financial Services]]></Value>
    </recentProjectsServiceTitleOne>
    <recentProjectsServiceTitleThree>
      <Value><![CDATA[Financial Services]]></Value>
    </recentProjectsServiceTitleThree>
    <recentProjectsServiceTitleTwo>
      <Value><![CDATA[Financial Services]]></Value>
    </recentProjectsServiceTitleTwo>
    <successStoryBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "d0626914-aa86-4fa0-9ca2-3f9179f9d4c2",
    "mediaKey": "fa51fa95-d193-4ee1-85bf-1a250018f9d8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successStoryBackgroundImage>
    <successStoryFrontImage>
      <Value><![CDATA[[
  {
    "key": "fde819ce-bce0-48e4-8ea0-8c777cdff651",
    "mediaKey": "8c0cc145-350c-4653-ac32-b9b0d11963ef",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </successStoryFrontImage>
    <successStoryHeadline>
      <Value><![CDATA[Success story]]></Value>
    </successStoryHeadline>
    <successStoryNumberBoxOne>
      <Value><![CDATA[689]]></Value>
    </successStoryNumberBoxOne>
    <successStoryNumberBoxThree>
      <Value><![CDATA[125]]></Value>
    </successStoryNumberBoxThree>
    <successStoryNumberBoxTwo>
      <Value><![CDATA[370]]></Value>
    </successStoryNumberBoxTwo>
    <successStorySectionTitle>
      <Value><![CDATA[SUCCESS STORIES]]></Value>
    </successStorySectionTitle>
    <successStoryTextBoxOne>
      <Value><![CDATA[More than 100 customers has been served]]></Value>
    </successStoryTextBoxOne>
    <successStoryTextBoxThree>
      <Value><![CDATA[More than 125 branches has been established in Europe and America]]></Value>
    </successStoryTextBoxThree>
    <successStoryTextBoxTwo>
      <Value><![CDATA[More than 370 projects has been completed]]></Value>
    </successStoryTextBoxTwo>
    <trustedBackgroundImage>
      <Value><![CDATA[[
  {
    "key": "7147cdc6-232c-45c3-8920-c783f58d8c5e",
    "mediaKey": "fa51fa95-d193-4ee1-85bf-1a250018f9d8",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </trustedBackgroundImage>
    <trustedButtonText>
      <Value><![CDATA[Read our story]]></Value>
    </trustedButtonText>
    <trustedButtonUrl>
      <Value><![CDATA[/trusted]]></Value>
    </trustedButtonUrl>
    <trustedFrontImage>
      <Value><![CDATA[[
  {
    "key": "3bd5e1c1-ad55-4f34-b87a-81dd1a51f7a0",
    "mediaKey": "334c0443-b92f-4fa1-b526-b6d99106d50b",
    "mediaTypeAlias": "umbracoMediaVectorGraphics",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </trustedFrontImage>
    <trustedHeadline>
      <Value><![CDATA[We are trusted by more than]]></Value>
    </trustedHeadline>
    <trustedNumberBox>
      <Value><![CDATA[4.000+ clients]]></Value>
    </trustedNumberBox>
    <trustedTextBox>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis molestie nulla. Nam accumsanporttitor arcu,ac tincidunt lectus tincidunt sed.]]></Value>
    </trustedTextBox>
  </Properties>
</Content>