<?xml version="1.0" encoding="utf-8"?>
<Content Key="153a36ff-24be-416c-94e8-1be58348f840" Alias="Projects" Level="2">
  <Info>
    <Parent Key="6f46ef5b-bb34-4faf-90e1-d4ffe7b0cd5c">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Projects</Path>
    <Trashed>false</Trashed>
    <ContentType>projectListPage</ContentType>
    <CreateDate>2024-09-09T18:39:32</CreateDate>
    <NodeName Default="Projects" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b76cf44d-0002-4be8-ae6d-b0958ade63a7">projectListPage</Template>
  </Info>
  <Properties>
    <pageTitle>
      <Value><![CDATA[Our Projects]]></Value>
    </pageTitle>
  </Properties>
</Content>