<?xml version="1.0" encoding="utf-8"?>
<Content Key="67bff7f4-b037-4b56-9106-32b16426ca31" Alias="Services" Level="2">
  <Info>
    <Parent Key="6f46ef5b-bb34-4faf-90e1-d4ffe7b0cd5c">Onatrix Official - Home</Parent>
    <Path>/OnatrixOfficialHome/Services</Path>
    <Trashed>false</Trashed>
    <ContentType>servicesPage</ContentType>
    <CreateDate>2024-09-09T00:07:51</CreateDate>
    <NodeName Default="Services" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aa21dd45-ebeb-4080-a54f-8418b2d767f1">servicesPage</Template>
  </Info>
  <Properties>
    <headline>
      <Value><![CDATA[We Provide The Solutions To Grow Your Business Faster]]></Value>
    </headline>
    <pageTitle>
      <Value><![CDATA[Our Services]]></Value>
    </pageTitle>
  </Properties>
</Content>