.aboutUsTrusted {
    background-color: #F7F7F7;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;

    img {
        position: absolute;
        top:0;
        right:0;
        max-height: 100%;
        max-width: 100%;

    }

    .container {


        .content {
            max-width: 700px;

            .headline-box {
                max-width: 500px;


                h2 {
                    color: $primary-color;
                    font-size: 40px;
                    font-weight: 700;
                }
            }

            .text-box {
                max-width: 600px;

                .content-text {
                    margin-top: 30px;
                    color: #999999;
                    font-size: 20px;
                    font-style: italic;
                    font-weight: 400;
                }

            }

            h3 {
                color: $third-color;
                font-size: 14px;
                font-weight: 700;
                
            }


            .author {
                color: #2D303A;
                font-size: 14px;
                font-weight: 400;
            }

            .company-text {
                margin: 0;
                font-size: 20px;
                font-style: italic;
                font-weight: 400;
                color: #2D303A;
            }
        }
    }
}