footer {
    background-color: #0E0E0E;
    .container {
        padding-top: 20px;
        padding-bottom: 10px;

        .copyright-text {
            color: $primary-color;
            font-size: 14px;
            font-weight: 400;

            .credit-text {
                color: $third-color;
                font-weight: 400;
            }
        }
        
    }
}