@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper

@{
    var rootContents = UmbracoHelper.ContentAtRoot();
    var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "globalSettings") ?? null;
    var logoImage = settings?.Value<IPublishedContent>("headerLogo")?.Url() ?? "";


    var root = Umbraco.ContentAtRoot().FirstOrDefault();
    var homePage = root?.Children().FirstOrDefault(x => x.ContentType.Alias == "homePage");
    var aboutPage = root?.Children().FirstOrDefault(x => x.UrlSegment == "about");
    var servicesPage = root?.Children().FirstOrDefault(x => x.UrlSegment == "services");
    var contactPage = root?.Children().FirstOrDefault(x => x.UrlSegment == "contact");
    var projectPage = root?.Children().FirstOrDefault(x => x.UrlSegment == "projects");

}


<header>
    <div class="container">
        <a href="/"><img class="logoImage" src="@logoImage" alt="@logoImage"></a>
        <nav>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <i class="fa-solid fa-magnifying-glass"></i>
    </div>
</header>